# **PERAMALAN CO2 EMISSIONS di USA**

**Ketua Kelompok**

Nama  : Fajrul Ihsan Kamil

NIM   : 200411100172

**Anggota Kelompok**

Nama  : Alfito Wahyu Kamaly

NIM   : 200411100079

### Import Data

In [3]:
import pandas as pd
# source data
dataset_url = "https://raw.githubusercontent.com/dhamvi01/Univariate-Time-Series-using-LSTM/master/airline-passengers.csv"
# Create dataframe
data = pd.read_csv(dataset_url)
#tampil data
data

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

### Univariate Transform

### Normalisasi Min Max Scaler

### Splitting Data

### Pemodelan KNN