# **PERAMALAN CO2 EMISSIONS di USA**
UAS

**Ketua Kelompok**

Nama  : Fajrul Ihsan Kamil

NIM   : 200411100172

**Anggota Kelompok**

Nama  : Alfito Wahyu Kamaly

NIM   : 200411100079

### Import Data

In [2]:
import pandas as pd
# source data
dataset_url = "https://raw.githubusercontent.com/Ihsan210702/dataset/main/co2.csv"
# Create dataframe
data = pd.read_csv(dataset_url)
#tampil data
data

     YYYYMM    Value
0    197301   72.076
1    197302   64.442
2    197303   64.084
3    197304   60.842
4    197305   61.798
..      ...      ...
518  201603   72.840
519  201604   71.410
520  201605   82.510
521  201606  115.772
522  201607  135.958

[523 rows x 2 columns]

### Univariate Transform

In [1]:
# transform univariate time series to supervised learning problem
from numpy import array
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

In [2]:
co2 = data['Value'].values
co2

NameError: name 'data' is not defined

### Normalisasi Min Max Scaler

### Splitting Data

### Pemodelan KNN

### Percobaan